<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" id="username" type="text" formControlName="username" />
      @if(registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
        <div class="error-message">
          First name is required
        </div>
      }
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" id="password" type="password" formControlName="password" />
      @if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
        <div class="error-message">
          Password must be at least 6 characters long
        </div>
      }
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>

  @if(errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }
</div>
